nav
{
	width: 100%;
	background-color: red;
}

nav li
{
	list-style-type: none;
}

nav > ul::after
{
	content: "";
	display: table;
	clear: both;
}

nav > ul > li
{
	float: left;
	position: relative;
}

nav a
{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a
{
	padding: 20px 30px;
	color: white;
}

nav > ul > li:hover > a
{
	padding: 15px 30px 20px 30px;
}

.submenu
{
	display: none;
}

nav li:hover .submenu
{
	display: inline-block;
	position: absolute;
	left: 0px;
	padding: 0px;
	top: 100%;
	z-index: 1000;
}

.submenu li
{
	border-bottom: 1px solid red;
}

.submenu li a
{
	padding: 15px 30px;
	font-size: 13px;
	color: black;
	/*width: 270px;*/
}

.submenu li:hover a
{
	color: white;
	font-weight: bold;
}

.submenu li:hover
{
	background-color: red;
}

.menu:hover
{
	border-top: 5px solid white;
	background-color: rgba(0, 0, 0, 0.15);
}

.menu .submenu
{
	background-color: rgba(0, 0, 0, 0.15);
}